---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<h2>Major Projects</h2>

{% assign count = 0 %}
{% for post in site.portfolio %}
  {% if count < 3 %}
    {% if count == 0 %}
      <h2>Major Projects</h2>
    {% endif %}
    {% include archive-single.html %}
    {% assign count = count | plus: 1 %}
  {% else %}
    {% if count == 3 %}
      <h2>Minor Projects</h2>
    {% endif %}
    {% include archive-single.html %}
    {% assign count = count | plus: 1 %}
  {% endif %}
{% endfor %}

<h2>Open-Source Contributions</h2>